# Python cache
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/

# Secrets (NEVER UPLOAD THESE)
.env

# Session Data
session.pkl

# IDE settings
.vscode/
.idea/

# Debug
debug_register
debug_view